body {
  text-align: center;
  background-color: antiquewhite;
}

.blogCard {
  border: black solid 1px;
  padding: 20px;
}

li {
  font-size: 30px;
  display: inline;
  margin: 10px;
}

h3,
h4 {
  position: relative;
  right: 200px;
}

li img {
  position: relative;
  top: -120px;
  right: -200px;
  text-align: center;
}

nav {
  margin-bottom: 50px;
}

table {
  display: inline;
  text-align: center;
}

img {
  margin-bottom: 100px;
}

.direction {
  width: 50%;
  border: black solid 1px;
  padding: 20px;
  margin-top: 100px;
  text-align: left;
}

ul img{
  float: left;
  text-align: left;
  margin-bottom: 0%;
}

ul li {
  text-align: left;
}

td {
  text-align: left;
  font-size: 30px;
}

/* 
tr,td {
  text-align: center;
} */
